<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>
    <img src="../assets/icons/Logo.svg" />
  </span>
  <span>
    <img src="../assets/icons/ico_dashboard.svg" />
    Dashbaord
  </span>
  <span class="user-icon">
    <img src="../assets/icons/ico_users.svg" />
    Users
  </span>
  <span>
    <img src="../assets/icons/ico_sessionmanager.svg" />
    Session Manager
  </span>
  <span class="spacer"></span>
  <span>
    <img src="../assets/icons/ico_notification.svg" />
  </span>
  <span>
    <img src="../assets/icons/ico_user.svg" />
    Chirag Sudra
  </span>
  <span>
    <img src="../assets/icons/ico_downarrow.svg" />
  </span>
</div>

<div class="content" role="main">
  <div>
    <app-user></app-user>
  </div>
</div>